* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.readyStateLoader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 42;
  background: rgba($color: #000000, $alpha: 0.75);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.reinstate-form-container {
  background: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;

  form {
    min-width: 300px;
    width: 650px;
    max-width: 650px;
    height: fit-content;
    position: relative;
    background: #fff;

    textarea {
      width: 100%;
      height: 185px;
      padding: 7px;
    }
  }
}

#toast-danger {
  position: fixed;
  z-index: 43;
  right: 10px;
  top: 120px;
  animation: smooth-up;
  animation-duration: 0.9s;
}

#toast-success {
  position: fixed;
  z-index: 43;
  right: 10px;
  top: 120px;
  animation: smooth-up;
  animation-duration: 0.9s;
}

#toast-info {
  position: fixed;
  z-index: 43;
  right: 10px;
  top: 120px;
  animation: smooth-up;
  animation-duration: 0.9s;
}

.elements-container {
  position: relative;
}

.info-widget-container {
  background: rgba($color: #aaa, $alpha: 0.99);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  place-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;

  .wrapper {
    .info-widget {
      max-width: 600px;
      padding: 14px 18px;
      border-radius: 5px;
      background: #fff;

      &.move_down {
        animation: appear_down;
        animation-duration: 1s;
        margin: 0px 0px 0px 0px;
        opacity: 1;
      }

      &.move_up {
        animation: appear_up;
        animation-duration: 1s;
        // animation-delay: 500ms;
        margin: -500px 0px 0px 0px;
        opacity: 0;
      }
    }

    // .developer {
    //   position: absolute;
    //   bottom: 80px;
    //   right: 15px;
    // }
  }
}

#dropdown-user {
  top: 42px;
  right: 0px;
}

.passwordChange-container {
  background: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;

  form {
    min-width: 300px;
    width: 650px;
    max-width: 650px;
    min-height: 350px;
    position: relative;

    input[type="password"],
    input[type="text"] {
      background: transparent;
      border: 1px solid #333;
    }
  }
}

.new-survey-form {
  background: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: flex;
  place-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;

  form {
    min-width: 300px;
    width: 650px;
    max-width: 650px;
    height: 500px;
    position: relative;

    button {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      padding: 10px 45px;
    }

    .preview-div {
      padding: 5px;
      &::-webkit-scrollbar {
        height: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #32ae01;
        border-radius: 6px;
      }
    }
  }

  > .new-form {
    min-width: 340px;
    width: 500px;
    max-width: 550px;
  }
}
.new-agent-form {
  background: rgba($color: #000000, $alpha: 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  display: flex;
  place-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  padding: 0px 10px;

  > .new-agent {
    min-width: 300px;
    width: 650px;
    max-width: 650px;
    position: relative;
    background: #1f2937;
  }
}

.preloader {
  background: #eee;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 40;
  display: flex;
  place-items: center;
  justify-content: center;

  > span {
    color: #015dae;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 3rem;
    font-weight: 300;
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.shade {
  scale: (0.5);
  filter: grayscale(0%);
  animation-name: shade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.survey-widgets-container {
  &::-webkit-scrollbar {
    height: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #015dae;
    border-radius: 6px;
  }

  > .survey-widget {
    width: 20px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 0.375rem;
    color: #9ca3af;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active-widget {
      background: #ec9d0b;
      // box-shadow: inset 0 0 0 4px #ec9d0b;
    }
  }
}

.surveys-container {
  width: 900px;
  display: block;
  margin: 15px auto 10px auto;
  background: transparent;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  overflow-y: hidden;

  .questions-container {
    width: 100%;
    padding: 0px 1.5rem;

    > .question {
      background: #fff;
      padding: 15px 14px;
      border-radius: 5px;
      border: 1px solid #999;
    }

    p {
      color: #333;
      font-size: 13px;
      margin: 12px 0px;
    }

    input[type="text"],
    input[type="number"] {
      outline: none;
      border: none;
      color: #000;
      background: transparent;
      border-bottom: 1px solid #777;
      font-weight: 300;

      &::placeholder {
        color: #9c9c9c;
        font-weight: 300;
      }
    }

    input[type="date"],
    input[type="datetime-local"] {
      outline: none;
      border: none;
      color: #000;
      background: #eee;
      font-weight: 300;
    }

    label {
      font-size: 14px;
      color: #555;
      font-weight: 400;
    }
  }
}

.dropdown-list {
  .links {
    height: 0px;
    transition: all 0.3s ease-in-out;

    &.active-dropdown-link {
      height: fit-content;
      transition: all 0.3s ease-in-out;
    }
  }
}

.rejection-form {
  input {
    background: transparent;
    outline: none;
    border: 1px solid #000;
    color: #111;

    &::placeholder {
      color: #888;
    }
  }
}

@media (max-width: 500px) {
  .surveys-container {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .elements-container {
    position: relative;
    margin-left: 16rem;
    width: calc(100% - 16rem);
    height: fit-content !important;

    .preloader {
      width: calc(100% - 16rem);
      background: #eee;
      height: 100%;
      position: fixed;
      top: 0;
      z-index: 15;
      display: flex;
      place-items: center;
      justify-content: center;

      > span {
        color: #015dae;
        animation-name: spin;
        animation-duration: 500ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        font-size: 3rem;
        font-weight: 300;
      }
    }

    > .container-content {
      height: fit-content !important;
    }
  }
}

@media (max-width: 639px) {
  .elements-container {
    position: relative;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes smooth-up {
  from {
    top: 150px;
  }
  to {
    top: 120px;
  }
}

@keyframes shade {
  from {
    filter: grayscale(0%);
    scale: (0.5);
  }
  to {
    filter: grayscale(100%);
    scale: (1);
  }
}

@keyframes appear_down {
  from {
    margin: -500px 0px 0px 0px;
    opacity: 0;
  }
  to {
    margin: 0px 0px 0px 0px;
    opacity: 1;
  }
}

@keyframes appear_up {
  from {
    margin: 0px 0px 0px 0px;
    opacity: 1;
  }
  to {
    margin: -500px 0px 0px 0px;
    opacity: 0;
  }
}
