@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;

  color-scheme: light dark;
  color: rgba(32, 30, 30, 0.87);
  background-color: #f0ebf8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-radio,
.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-radio + label,
.custom-checkbox + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
}

.custom-radio + label::before,
.custom-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #aaa;
  background-color: white;
  border-radius: 50%;
}

.custom-checkbox + label::before {
  border-radius: 4px;
}

.custom-radio:checked + label::before {
  background-color: #1976d2;
  border-color: #1976d2;
}

.custom-radio:checked + label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.custom-checkbox:checked + label::before {
  background-color: #1976d2;
  border-color: #1976d2;
}

.custom-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
}
